<div class="container-fluid">
<div class="row">
<div class="col-12 ontents-wrapper">

  <div class="col-12 contents-header">
    <%= link_to "minites.", meetings_path %>
  </div>
  <div class="contents-middle">
    <div class="col-2 side-bar-left">
      <div class="create">
      <%= link_to "新規議事録作成", new_meeting_path %>
      </div>

      議事録一覧
      <div class="main-name">
        <% current_user.meetings.each do |meeting| %>
        <div class="meeting">
        <%= link_to meeting.title, meeting_contents_path %>
      </div>
       <% end %>
      </div>
    </div>

    <div class="col-8 main-contents">
      内容表示
      <% @contents.each do |content|%>
      <div class="content_post">
      <%= content.writing %>
      </div>
      <% end %>

    </div>

    <div class="col-2 side-bar-right">
      参加者名
          <% User.all.each do |user| %>
            <div class="use-name">
              <%= user.name %>
            </div>
          <% end %>
    </div>
  </div>

  <div class="bottom-form">
    下のフォーム
    <%= form_with model: [@meeting, @content], local: true do |f| %>
      <%= f.text_field :writing, placeholder: '記事を記載してください', class:'col-10'%>
      <%= f.submit '投稿する', class:'contents-writing-btn'%>
      <% end %>
  </div>
</div>
</div>
</div>