<script>
var timer1; //タイマーを格納する変数（タイマーID）の宣言


//カウントダウン関数を1000ミリ秒毎に呼び出す関数
function cntStart()
{
  document.timer.elements[2].disabled=true;
  timer1=setInterval("countDown()",1000);
}

//タイマー停止関数
function cntStop()
{
  document.timer.elements[2].disabled=false;
  clearInterval(timer1);
}

//カウントダウン関数
function countDown()
{
  var min=document.timer.elements[0].value;
  var sec=document.timer.elements[1].value;
  
  if( (min=="") && (sec=="") )
  {
    alert("時刻を設定してください！");
    reSet();
  }
  else
  {
    if (min=="") min=0;
    min=parseInt(min);
    
    if (sec=="") sec=0;
    sec=parseInt(sec);
    
    tmWrite(min*60+sec-1);
  }
}

//残り時間を書き出す関数
function tmWrite(int)
{
  int=parseInt(int);
  
  if (int<=0)
  {
    reSet();
    alert("時間です！");
  }
  else
  {
    //残り分数はintを60で割って切り捨てる
    document.timer.elements[0].value=Math.floor(int/60);
    //残り秒数はintを60で割った余り
    document.timer.elements[1].value=int % 60;
  }
}

//フォームを初期状態に戻す（リセット）関数
function reSet()
{
  document.timer.elements[0].value="0";
  document.timer.elements[1].value="0";
  document.timer.elements[2].disabled=false;
  clearInterval(timer1);
}  
</script>


  <div class="contents-header">
      <%= render "shared/header" %>
  </div>

  <div class="contents-middle">
    <div class="col-2 side-bar-left">
      <div class="create">
      <%= link_to "新規議事録作成", new_meeting_path %>
      </div>
      議事録一覧
      <div class="main-name">
        <% current_user.meetings.each do |meeting| %>
        <div class="meeting">
        <%= link_to meeting.title, meeting_contents_path(meeting) %>
        </div>
       <% end %>
      </div>
    </div>

    <div class="col-8 main-contents">
      内容表示
      <% @meeting.title %>
        <div class="bottom-contents">
          <% @contents.each do |content| %>
            <div class="content_post" data-id=<%= content.id %> data-check=<% content.checked %> data-user-name=<% content.user.name %>>
              <div class="post-content"><%= content.writing %></div>
              <div class="post-name"><%= content.user.name %></div>
              <div class="post-date"><%=l content.created_at %></div>
              <div class="contensts">
                <%= content.images.each do |image| %>
                <%= image_tag image.variant(resize:'500x500'), class: 'message-image' if content.image.attached? %>
                <% end %>
              </div>
            </div>
          <% end %>
        <div id="new_message"></div>
        </div>
        <div id="list">
        </div>
     </div>


    <div class="col-2 side-bar-right">
      参加者名
          <% User.all.each do |user| %>
            <div class="use-name">
              <%= user.name %>
            </div>
          <% end %>
          <form name="timer">
            <input type="text" value="<%=@meeting.time%>">分
            <input type="text" value="">秒<br>
            <input type="button" value="スタート" onclick="cntStart()">
            <input type="button" value="ストップ" onclick="cntStop()">
          </form>

    </div>
  </div>

  <div class="bottom-form">
    <%= form_with model: [@meeting, @content], id: "form" do |f| %>
      <%= f.text_field :writing, placeholder: '記事を記載してください', class:'col-8', id:"content"%>
    <label class="form-image">
      <span class="image-file"></span>
      <%= f.file_field :images, name: 'message[images][]', id: 'content_image', class: 'hidden' %>
    </label>
      <%= f.submit '投稿する', id: "submit", class:'contents-writing-btn'%>
      <div id="image-list"></div>
      <% end %>
      
      <% @content.images.each do |image| %>
        <%= image_tag image, class: 'images' %>
        <% end %>
  </div>
  
</div>
</div>
</div>