<div class="wrapper">

  <div class="header">
      <%= render "shared/header" %>
  </div>


  <div class="chat-room-form">
     <h1>新規meeting作成</h1>
    <%=form_with model: @meeting, local: true do |f|%>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :タイトル, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :title, class: 'chat__room_name chat-room-form__input', placeholder: '議事録名を入力してください'%>
      </div>
    </div>

    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :内容, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_area :detail, class: 'chat__room_name chat-room-form__input', placeholder: '議事録内容を記入してください'%>
      </div>
    </div>

    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>共有者</label>
      </div>
      <div class='chat-room-form__field--right'>
        <select name="room[user_ids][]">
          <option value="">議事録を共有するユーザーを選択してください</option>
            <% User.all.where.not(id: current_user.id).each do |user| %>
             <option value=<%=user.id%>><%= user.name %></option>
          <% end %>
        </select>
        <input name="room[user_ids][]" type="hidden" value=<%=current_user.id%>>
      </div>
    </div>

    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>共有者</label>
      </div>
      <div class='chat-room-form__field--right'>
        <select name="room[user_ids][]">
          <option value="">議事録を共有するユーザーを選択してください</option>
            <% User.all.where.not(id: current_user.id).each do |user| %>
             <option value=<%=user.id%>><%= user.name %></option>
          <% end %>
        </select>
        <input name="room[user_ids][]" type="hidden" value=<%=current_user.id%>>
      </div>
    </div>

    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit "議事録作成", class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>

</div>