  <div class="header">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <%= link_to "minutes.", "/", class: 'navbar-brand' %>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to current_user.name, "", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to "新規議事録", new_meeting_path, class: "nav-link" %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to 'ログイン', new_user_session_path, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to '新規登録', new_user_registration_path, class:"nav-link"%>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
  </div>

   <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto", id="meeting-title-all">
        <div class="meeting-title"> ー 事前共有内容 ー</div>
          <div class="post-preview">
            <h3>
              <%= @meeting.title %>
            </h3>
          </div>
          <hr>
  <p>
    <%= @meeting.content %>
  </p>

